<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') -%>
    <style>
      ul.dtr-details {
        width: 100%;
      }

      ul.dtr-details li {
        display: flex;
        align-items: center;
      }

      ul.dtr-details li span {
        flex: 1;
        text-align: center;
      }
    </style>
  </head>

  <body class="">
    <div class="page">
      <div class="page-main">
        <%- include('../partials/header.ejs') -%>

        <div class="my-3 my-md-5">
          <div class="container">
            <div class="card">
              <div class="card-header row mx-0 px-5">
                <h3 class="card-title text-center text-sm-left">
                  <%= title %>
                </h3>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Distribusi Gaussian</h3>
              </div>
              <div class="row p-5">
                <div class="col-12 col-md-auto mb-3 mb-lg-0 text-center">
                  <label class="form-label text-center text-md-left"
                    >Filter ID Dokumen</label
                  >
                  <select
                    name="docsId"
                    class="form-control"
                    style="width: 100%;"
                  >
                    <% for (const result of classificationResults) { %>
                    <option value="<%= result.dataset %>"
                      ><%= result.dataset %>
                    </option>
                    <% } %>
                  </select>
                </div>
                <div class="col-12 col-md">
                  <label class="form-label text-center text-sm-left"
                    >Filter Kategori</label
                  >
                  <div
                    class="custom-controls-stacked row d-flex justify-content-center ml-1 mt-auto"
                  >
                    <% for (const [index, prior] of priors.entries()) { %>
                    <label
                      class="col-auto custom-control custom-radio custom-control-inline"
                    >
                      <input type="radio" class="custom-control-input"
                      name="filter-label" value="<%= prior.label %>" <%= index
                      === 0 ? 'checked' : '' %> />
                      <span class="custom-control-label"
                        ><%= prior.label %></span
                      >
                    </label>
                    <% } %>
                  </div>
                </div>
              </div>
              <div class="table-responsive p-5">
                <table
                  id="table-gaussians"
                  class="table card-table table-vcenter"
                >
                  <thead>
                    <tr>
                      <th class="text-center">No.</th>
                      <th class="text-center">Token Kata</th>
                      <th class="text-center">TF-IDF</th>
                      <th class="text-center">Distribusi Gaussian</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Probabilitas Akhir</h3>
              </div>
              <div class="table-responsive" style="max-height: 80vh;">
                <table
                  id="table-probabilities"
                  class="table card-table table-vcenter"
                >
                  <thead>
                    <tr>
                      <th
                        class="text-center align-middle border-right"
                        rowspan="2"
                      >
                        ID Dokumen
                      </th>
                      <th class="text-center" colspan="<%= priors.length %>">
                        Label
                      </th>
                    </tr>
                    <tr>
                      <% for (const prior of priors) { %>
                      <th class="text-center">
                        <%= prior.label %>
                      </th>
                      <% } %>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Hasil Klasifikasi</h3>
              </div>
              <div class="table-responsive" style="max-height: 80vh;">
                <table
                  id="table-classification-results"
                  class="table card-table table-vcenter"
                >
                  <thead>
                    <tr>
                      <th class="text-center border-right">
                        No.
                      </th>
                      <th class="text-center">
                        ID Dokumen
                      </th>
                      <th class="text-center">
                        Label Aktual
                      </th>
                      <th class="text-center">
                        Label Prediksi
                      </th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Confusion Matrix</h3>
              </div>
              <div class="table-responsive" style="max-height: 80vh;">
                <table
                  id="table-confusion-matrix"
                  class="table card-table table-vcenter"
                >
                  <thead>
                    <tr>
                      <th
                        class="text-center align-middle border-right"
                        rowspan="2"
                      >
                        LABEL PREDIKSI
                      </th>
                      <th class="text-center" colspan="<%= priors.length %>">
                        LABEL AKTUAL
                      </th>
                    </tr>
                    <tr>
                      <% for (const prior of priors) { %>
                      <th class="text-center">
                        <%= prior.label %>
                      </th>
                      <% } %>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>

            <div class="card pb-5">
              <div class="card-header">
                <h3 class="card-title">Performance Measurement</h3>
              </div>
              <div class="card-body">
                <div class="row mb-5">
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="card-body d-flex flex-column justify-content-center align-items-center"
                    >
                      <div class="text-center mb-3">
                        Akurasi Keseluruhan
                      </div>
                      <div
                        id="accuracy-circle-bar"
                        class="position-relative"
                        style="width: 100px; height: 100px;"
                        value="<%= performance ? performance.overall_accuracy : 0 %>"
                      ></div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="card-body d-flex flex-column justify-content-center align-items-center"
                    >
                      <div class="text-center mb-3">
                        Recall Rata-Rata
                      </div>
                      <div
                        id="recall-circle-bar"
                        class="position-relative"
                        style="width: 100px; height: 100px;"
                        value="<%= performance ? performance.avg_recall : 0 %>"
                      ></div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="card-body d-flex flex-column justify-content-center align-items-center"
                    >
                      <div class="text-center mb-3">
                        Precision Rata-Rata
                      </div>
                      <div
                        id="precision-circle-bar"
                        class="position-relative"
                        style="width: 100px; height: 100px;"
                        value="<%= performance ? performance.avg_precision : 0 %>"
                      ></div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-lg-3">
                    <div
                      class="card-body d-flex flex-column justify-content-center align-items-center"
                    >
                      <div class="text-center mb-3">
                        F1-Score Rata-Rata
                      </div>
                      <div
                        id="f1-score-circle-bar"
                        class="position-relative"
                        style="width: 100px; height: 100px;"
                        value="<%= performance ? performance.avg_f1_score : 0 %>"
                      ></div>
                    </div>
                  </div>
                </div>
                <div class="position-relative">
                  <% for (const [label, accuracy] of performance.accuracies) {
                  %>
                  <input
                    type="hidden"
                    name="accuracy-detail"
                    label="<%= label %>"
                    value="<%= accuracy %>"
                  />
                  <% } %> <% for (const [label, recall] of performance.recalls)
                  { %>
                  <input
                    type="hidden"
                    name="recall-detail"
                    label="<%= label %>"
                    value="<%= recall %>"
                  />
                  <% } %> <% for (const [label, precision] of
                  performance.precisions) { %>
                  <input
                    type="hidden"
                    name="precision-detail"
                    label="<%= label %>"
                    value="<%= precision %>"
                  />
                  <% } %> <% for (const [label, f1Score] of
                  performance.f1_scores) { %>
                  <input
                    type="hidden"
                    name="f1-score-detail"
                    label="<%= label %>"
                    value="<%= f1Score %>"
                  />
                  <% } %>
                  <canvas id="canvas"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') -%>
    <script src="/js/views/fold.js" type="module"></script>
  </body>
</html>
